<link rel="stylesheet" href="/components/digitalmarketingcustomer/digitalmarketingcustomer.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.rawgit.com/kenwheeler/slick/master/slick/slick.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/kenwheeler/slick/master/slick/slick-theme.css">
<link rel="stylesheet" href="/components/digitalmarketingcustomer/digitalmarketingcustomer.css" />



<section>
    <div class="container-fluid mb-5">
        <div class="mainheading-global text-center">
          <p class="position-relative z-1">  Wherever Your <span class="mainheding-color">Audience</span> Is- <br class="d-none d-md-block">  We’re Already There 
        
            <img src="/assets/images/SalseMigrate.png"
            class="position-absolute img-fluid digitalmarketing-customer-img service-img-header z-1" alt="Highlight Underline" />
        </p>
        </div>

        <div class="mt-4 mb-4 text-center customers-containe text-muted  subtitle-contetn">
            <p class="text-center"> With a strong footprint across all digital touchpoints, our digital marketing agency in the USA ensures your brand captures attention and drives conversions.</p>
        </div>
       
        <div class="slider2 text-left"> </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


    <script src="/components/digitalmarketingcustomer/digitalmarketingcustomer.js"></script>
</section>