.shopify-header {
  padding-top: 4% !important;
  background-color: #071739;
  color: white;
  position: relative;
}

.highlight {
  color: #e84fb1;
}

.custom-btn {
  background-color: #e84fb1;
  color: white;
  border-radius: 30px;
  padding: 1.5% 5%;
  font-weight: 600;
  border: none;
  display: inline-block;
  margin-right: 15px;
}

.shopify-subtitle {
  padding-right: 20%;
}

.shoipify-header-book-btn {
  margin-bottom: 6% !important;
}

.feature-icon {
  color: #fff;
  margin-right: 8px;
}

.stat-box {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  width: 120px !important;
  height: auto !important;
  padding: 15px 0% 15px 0%!important;
  /* padding: 0% !important;
  margin: 0% !important; */
  color: #fff;
  height: 100%;
  background: transparent;
}

.stat-number {
  font-size: 1.75rem;
  font-weight: 700;
  color: #e84fb1;
}

.stat-label {
  font-size: 0.875rem;
  line-height: 1.4;
  margin-top: 4px;
  color: #ffffffcc;
}

.partner-box {
  padding: 0% !important;
  display: flex !important;
  align-items: start !important;
  justify-content: start !important;
  width: 100% !important;
  /* height: 100% !important; */
}

.shopify-plush-logos {
  display: flex !important;
}

.highlight {
  color: #e84fb1;
}

.shopify-header-number {
  font-weight: 500 !important;
  font-size: 36px !important;
  font-family: "Poppins", sans-serif !important;
  color: #EC4899 !important;
}

/* Container for button and arrow */
.shopify-button-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.shopify-header-arrow {
  width: auto !important;
  height: auto !important;
  vertical-align: middle;
  margin-left: 10px;
}

@media (max-width: 576px) {
  .stat-number {
    font-size: 1.5rem;
  }

  .stat-label {
    font-size: 0.8rem;
  }

  .partner-box {
    padding: 0.75rem 1rem;
  }

  .shopify-subtitle {
    padding-right: 0% !important;
  }

  .shopify-header-number {
    font-size: 30px !important;
  }

  /* Stack button and arrow on mobile */
  .shopify-button-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .shopify-header-arrow {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 425px) {
  .stat-box {
    height: 100% !important;
    width: 100% !important;
  }

  .shopify-header-number {
    font-size: 27px !important;
  }
}

@media screen and (max-width: 320px) {
  .shopify-header-number {
    font-size: 24px !important;
  }
}