
.slider3 {
    width: 90%;
    max-width: 1200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0;
    visibility: visible;
}

.slick-current h3 {
    background: orange;
}

#slick-slide-control07 {
    color: red;
}

.custom-card {
    background-color: #ffffff;
    color: #000000;
    border-radius: 12px;
    padding: 30px 25px;
    margin: 20px 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.3s ease;
}

.customers-subtitle {
    width: 82%;
    padding-left: 15%;
}
.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.08);
}

.customer-card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-top: 20px !important;
    margin-bottom: 15px;
    color: #000000 !important;
}

.card-text {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #000000 !important;
    font-weight: 400;
}

.slick-dots li button:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 6px;
    background-color: black;
    border-radius: 10px;
    opacity: 0.3;
    transition: all 0.3s ease;
}
.slick-dots li.slick-active button:before {
    width: 50px;
    background-color: black;
}

.slider3 .slick-track {
    display: flex !important;
}

.slider3 .slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slider3 .slick-slide>div {
    flex: 1;
    display: flex;
}

.custom-image {
    height: 45px;
    width: 45px;
}

.heding-color {
    color: #EC4899;
}
.heading-global {
    font-weight: 600 !important;
    font-size: 36px !important;
    font-family: "Poppins", sans-serif;
    color: #030712 !important;
}
.subheading-global {
    font-weight: 400 !important;
    font-size: 16px !important;
    font-family: "DM Sans", sans-serif;
    color: #030712 !important;
}
.customers-containe {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    width: 58%;
    margin: 0 auto;
}

.customers-containe p {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    display: inline-block;
    text-align: left;
}

.emailmarketing-services-features-img {
    left: 31% !important;
    top: 41% !important;
    height: 25% !important;
    width: 30% !important;
}

@media screen and (max-width: 883px) {
    .emailmarketing-services-features-img {
        top: 25% !important;
        left: 35% !important;
        width: 36% !important;
        height: 16% !important;
    }
}

@media screen and (max-width: 768px) {
    .emailmarketing-services-features-img {
        top: 42% !important;
        height: 27% !important;
        width: 44% !important;
        left: 27% !important;
    }
}

@media screen and (max-width: 606px) {
    .emailmarketing-services-features-img {
        top: 20% !important;
        left: 45% !important;
        width: 40% !important;
    }
}

@media screen and (max-width: 473px) {
    .emailmarketing-services-features-img {
        left: 60% !important;
        width: 30% !important;
        height: 10% !important;
    }
}

@media screen and (max-width: 426px) {
    .emailmarketing-services-features-img {
        top: 23% !important;
        width: 50% !important;
        height: 22% !important;
        left: 43% !important;
    }
}


@media screen and (max-width: 403px) {
    .emailmarketing-services-features-img {
        top: 16% !important;
        width: 50% !important;
        height: 15% !important;
        left: 43% !important;
    }
}

@media screen and (max-width: 375px) {
    .emailmarketing-services-features-img {
        top: 23% !important;
        width: 58% !important;
        height: 22% !important;
        left: 43% !important;
    }
}